name: Re-Usable workflow Deploy
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: The name of the deployable artifact files
        required: false
        default: dist
        type: string
    secrets:
      some-secret:
        description: Whatever is secret
        required: false
jobs:
    reusable-deploy:
        runs-on: ubuntu-latest
        steps:
        - name: Download Artifact
          uses: actions/download-artifact@v3
          with:
            name: ${{ inputs.artifact-name }}
        - name: Deploy
          run: ls -alR
        - name: Show secret
          run: echo ${{ secrets.some-secret }}